@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  src: local("RobotoMono-Italic"),
    url(./assets/RobotoMono-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  src: local("RobotoMono-Regular"),
    url(./assets/RobotoMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Staatliches";
  font-style: normal;
  src: local("Staatliches-Regular"),
    url(./assets/Staatliches-Regular.ttf) format("truetype");
}

/* Content */

html,
body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
}

.hero-container {
  align-items: center;
  background-color: #e4f5e1;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.haiku {
  font-size: 0.8em;
  font-style: italic;
}

section {
  height: 100vh;
}

.hero div {
  padding-bottom: 20px;
}

.img-container {
  border: 1px solid #1d1d1d;
  border-radius: 100px;
  display: block;
  height: 100px;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100px;
  overflow: hidden;
}

.img-container img {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.header {
  color: #232023;
  font-family: "Staatliches", cursive;
  font-size: 5rem;
}

.gap {
  display: inline-block;
  padding: 0 10px;
}

.links-container {
  display: flex;
  justify-content: center;
}

.links-container a {
  color: #006e50;
}

.links-container a:hover {
  color: #1d1d1d;
}

.link-container {
  padding: 0 10px;
  height: 0;
}

.link-container:not(:last-child) {
  border-right: 1px solid #1d1d1d;
}

/* Wavy Animation */

@keyframes wavy-text {
  0% {
    color: #1d1d1d;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  50% {
    color: #008461;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
  }
  100% {
    color: #1d1d1d;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

.wavy span {
  animation-name: wavy-text;
  -webkit-animation-name: wavy-text;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  cursor: default;
  display: inline-block;
}

/* Mobile */

@media only screen and (min-width: 600px) {
  .header {
    font-size: 7rem;
  }

  .img-container,
  .img-container img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    font-size: 9rem;
  }

  .img-container,
  .img-container img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    padding: 10px;
  }
}
